body {
    background-color: #12A58A;
}

canvas {
    cursor: pointer;
    cursor: hand;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    /* border: #000 solid; */
}

.hidden {
    display:none !important;
}